.wrapper {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  gap: 32px;
}
.nav_icons {
  width: 100%;
  height: 100%;
  background-color: var(--color-text);
  stroke: #734aef;
}
.link {
  width: 38px;
  height: 38px;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--color-light);
}

.active {
  background-color: var(--color-text);
  .nav_icons {
    fill: #734aef;
  }
}
