.header {
  display: flex;
  justify-content: space-between;
  color: #fbfbfb;
  padding: 12px 20px;
  background: linear-gradient(276deg, #2e1746 3.19%, #2e225f 100%);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.right_side {
  display: flex;
}
