.fixedButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  background: var(--background-btn);
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.fixedButton:hover {
  transform: scale(1.1);
  background-color: var(--background-btn-hover);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .fixedButton {
    bottom: 40px;
    right: 40px;
  }
}
