.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs {
  border: 0px solid #000;
  border-bottom: 1px solid #ffffff66;
  background-color: transparent;
  color: #fbfbfb;
  width: 280px;
  margin-bottom: 40px;
  padding: 8px 20px;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}
.inputs:focus {
  outline: none;
}

textarea.inputs::placeholder {
  color: #bdbdbd;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

input[type="select"].inputs {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to bottom, #d8c1e0, #9174b1);
  color: white;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="select"].inputs:focus {
  outline: none;
  box-shadow: none;
}
input[type="select"].inputs option {
  background-color: #9174b1;
  color: white;
  padding: 10px;
}
input[type="select"].inputs option:hover {
  background-color: #b68bb8;
}
input[type="select"].inputs option:checked {
  background-color: #f06466; /* Колір для обраного пункту */
}

textarea.inputs {
  margin-bottom: 15px;
  resize: none;
}

.inline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  padding: 8px 20px;
}
.select select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0px;
  font-size: 16px;
}
.option {
  color: #333;
}

@media screen and (min-width: 768px) {
  .inputs {
    width: 394px;
  }
  .inline-objects {
    width: 180px;
  }
  .inline-container {
    flex-direction: row;
    gap: 32px;
  }
}
